[2015-02-12 08:27] addaleax opened #1 "404 error page"
The 404 error page should contain links to the login/registration pages and/or the start page

[2015-02-12 08:27] addaleax commented on #1
@mfun @BonsaiOfHappiness @ayajaff

[2015-02-13 22:04] #1 closed

[2015-02-19 17:03] mfun opened #3 "Attribute nicht ausgeführte Order"
In der Liste der nicht ausgeführten Order kenntlich machen, was Kaufs- und was Verkaufsorder ist.
(via Samy)

[2015-02-19 17:07] addaleax commented on #3
Hab ich @einfacheruser auch schonmal gesagt

[2015-02-20 22:01] einfacheruser commented on #3
stimmt

[2015-02-22 16:14] #3 closed

[2015-09-20 19:02] addaleax opened #4 "Pick start and end times for ranking computation via date picker"
Users can pick start and end times for the ranking table, i.e. they can see which player was best in a given span of time. Currently, this is implemented using a drop-down where one can pick values like “Since week begin”, “Since 1 month”, etc. (This actually seems to be broken right now – possibly due to angular-ui/bootstrap#2156).

It would be nicer if both start and end time could be implemente

[2015-09-22 19:16] addaleax commented on #4
The preliminary drop-down solution works again in the current master (cfc4e4eed46574d7767b55823510d409e4335203)

[2015-09-23 01:21] addaleax opened #5 "Password quality indicator"
When entering a new password (registation/options), a password strength meter should provide users with information on their password quality (and thereby make them choose better passwords).

[2015-09-23 18:28] hieutran commented on #4
Because of the Angular UI Datepicker [open issue](https://github.com/angular-ui/bootstrap/issues/1012), the "until" datepicker still has a display problem. I will try to fix it next day :)

[2015-09-23 19:09] addaleax commented on #4
If that’s fine with you, I’ll merge your commit anyway – The issue seems like it’s not too hard to work around, and I’d like to apply some changes after your commit (I’ll explain it over at the PR/with inline comments here)

[2015-09-23 19:31] #4 closed

[2015-10-03 17:49] nhaesler opened #7 "Selecting one of the popular stocks throws error"
Selecting one of the popular stocks in the trade view fails with the following error:

[code]

[2015-10-03 21:18] #7 closed

[2015-10-30 23:31] addaleax commented on #5
Resolved by 09e092386f0edf49e19d406fe584f08030f60f4c

[2015-10-30 23:31] #5 closed

[2015-11-02 14:39] addaleax opened #8 "New registration todo list"
- [x] Autocomplete for group choice
- [x] Birthday datepicker
- [x] Error messages for existing users/email addresses
- [x] German translation of new messages
- [x] Adapt "tooltips"
- [x] Error messages are not displayed (vm.alerts.push…)
- [x] First “Let’s go” button should not work when passwords are different
- [x] Redirection when already logged in
- [ ] **Make school-based registration and in

[2015-11-02 14:43] nhaesler commented on #8
- [] Error messages are not displayed (vm.alerts.push…)

[2015-11-03 01:47] addaleax commented on #8
@hieutran Nico and I are going to sleep now, maybe you could take a look at some of the above issues? We merged our changes to the `stable` branch, meaning that our production users now actually use the new registration form. It would be great if you could try and fix some of the remaining problems so that they don’t run into them? :)

[2015-11-03 02:11] hieutran commented on #8
@addaleax @nhaesler Roger that! Have a nice dream :)

[2015-11-03 10:11] addaleax commented on #8
Merged your commits into master… maybe someone else can check at dev.tradity.de if everything works, but they look good to me

[2015-11-03 10:57] hieutran commented on #8
Can you explain "Adapt 'tooltips'" in this todo list?

[2015-11-03 10:57] addaleax commented on #8
@BonsaiOfHappiness ?

[2015-11-03 10:58] hieutran commented on #8
And also 'Add gender to regular options page'?

[2015-11-03 11:01] addaleax commented on #8
I don’t know if you have seen it, but basically you can edit all your personal data at `/options`; Since the gender chooser is a new feature, it’s not yet included in the options page, but at some point it should be.

[2015-11-03 11:02] hieutran commented on #8
Ah, ok, I got it :)

[2015-11-03 11:56] BonsaiOfHappiness commented on #8
Adapt "tooltips" is a todo for me :) I mean those "enter your..." strings

[2015-11-03 13:22] BonsaiOfHappiness opened #9 "Redirection from login to registration not working for uni.tradity.de"
Firefox 41.0.2

I get redirected to uni.tradity.de/register but not to /register/step1

It's working for tradity.de

[2015-11-03 13:22] BonsaiOfHappiness commented on #9
@hieutran

[2015-11-03 13:42] BonsaiOfHappiness opened #10 "Update confirmation mail"

[2015-11-03 14:53] hieutran commented on #9
@addaleax Can you tell me which branch are currently deployed to uni.tradity.de?

[2015-11-03 14:56] addaleax commented on #9
It’s `stable`; Should be the same as tradity.de. You can always check which commit the build was based on by checking the `TRADITY_BUILD_STAMP` variable, which contains the unix timestamp of the build and the current git HEAD commit. :)

[2015-11-03 14:59] hieutran commented on #9
@addaleax thank you
@BonsaiOfHappiness I checked that and it's work for latest version of Safari and Chrome. I will check it in Firefox later because of Firefox is not available on my laptop.

[2015-11-03 15:48] hieutran commented on #9
Tested again and It did not work with all of my browser :(.

[2015-11-05 02:29] hieutran commented on #9
It did not happen in all browsers in my local version. So I can not understand why it only happened in uni.tradity.de version. Can @addaleax check the deployed code and give me some hints?

[2015-11-05 12:39] addaleax commented on #9
Seems to have worked after manually running `bower update` on the server… weird, but I’m going to include that line in the `build.sh`, just in case something like that happens again.

[2015-11-05 12:39] #9 closed

[2015-11-05 16:46] addaleax opened #11 "Some messages are not being translated"
Examples: `"Successfully traded!"` (I have no idea why that does not work), the `Execute trade` button (which receives a `ng-scope` entry in the `class=…` attribute, maybe that’s the problem here?), the ask/bid prices (Problem with `remarkup` – I probably won’t be able to work on this until later this month).

Reported by @danielpodrazka.

[2015-11-05 16:47] addaleax opened #12 "Number of shares in confirmation dialog is missing"
In `Do you want to trade {{amount}} of {{stockname}}?`, the amount is left blank.

Reported by @danielpodrazka.

[2015-11-05 19:01] danielpodrazka commented on #12
Thanks for adding the issues,
The "amount" specifies only if it is 'share' or 'shares' based on $scope.amount but not the amount itself.
[code]
so something like this should work:
[code]
tradity-client/app/js/controllers/trade.js:41

[2015-11-05 20:20] #12 closed

[2015-11-05 20:36] addaleax commented on #12
Should be fixed now :)

[2015-11-06 09:41] danielpodrazka opened #13 "Market orders are not being executed automatically on opening hours"
I needed to delete the orders from the list and execute them manually.
Screenshot shows not executed orders whilst open market.
![tradity3](https://cloud.githubusercontent.com/assets/15668467/10993760/ac27e816-8471-11e5-987d-c4244d3ba9bc.png)

[2015-11-06 09:52] danielpodrazka opened #14 "German characters are not decoded correctly in stock market names"
It is impossible to search for stocks that have "ü", "ö", "ä" in their names. Examples:
![tradity2](https://cloud.githubusercontent.com/assets/15668467/10994118/784b4b66-8474-11e5-920b-39765f475ea3.png)
![tradity1](https://cloud.githubusercontent.com/assets/15668467/10994117/78488b06-8474-11e5-98ce-3d7768151f1a.png)

[2015-11-06 10:17] BonsaiOfHappiness commented on #13
@danielpodrazka What was the time when you took the screenshot?
@addaleax Maybe it is because of the recent time change?

[2015-11-06 10:19] BonsaiOfHappiness commented on #8
@hieutran Could you please make it so the two fields school and school class are of the same design as the rest and have popovers as well please? :)

[2015-11-06 10:22] danielpodrazka commented on #13
@BonsaiOfHappiness it was 10:11, 06.11.2015

[2015-11-06 13:32] danielpodrazka opened #15 "Ability to invest more than 50% in one stock"
If you invest more than once, the previous investment isn't considered, so you can invest more than 50% in one stock, which contradicts the 50% rule of competition.
Screenshot taken from user history : https://tradity.de/user/Lawe/history
![tradity4](https://cloud.githubusercontent.com/assets/15668467/10998053/95295192-8492-11e5-8c0d-a53458349493.png)

[2015-11-06 15:35] addaleax commented on #15
Should be fixed now. Thanks for reporting!

[2015-11-06 15:35] #15 closed

[2015-11-06 15:42] addaleax commented on #14
This is… a rather interesting way to find out that the API of the Börse Frankfurt which backs our trading system finally switched to UTF-8. Thanks for reporting! (It will take a bit of time to adjust the names in our database, though).

[2015-11-06 15:42] #14 closed

[2015-11-06 19:08] addaleax opened #16 "Browser autocomplete in stock search is not disabled"
@hieutran Can you verify this and maybe take a look at it?

[2015-11-08 23:21] addaleax opened #17 "Use top 50 % of users for group ranking"
Use top 50 % (but at least 4) rather than top 5 users for group ranking.

[2015-11-09 02:46] #17 closed

[2015-11-09 14:50] addaleax commented on #13
Should be fixed now

[2015-11-09 14:50] #13 closed

[2015-11-09 22:26] addaleax opened #18 "Error pages with status information"

[2015-11-10 04:23] hieutran commented on #16
OK, and I need a beta keys for testing purpose. Thank you!

[2015-11-10 04:34] addaleax commented on #16
Just sent you an email with a bunch of new beta keys (You can use each one only once) :)

[2015-11-10 06:20] hieutran commented on #16
@addaleax: Got it. Thank you!

[2015-11-10 06:42] addaleax opened #19 "Second questionnaire"
There will be a second questionnaire, analogously to the first one, which should be displayed to users after login/on page load. It would be cool if this could work by requesting `list-questionnaires` and testing whether there are any entries (if one is logged in, questionnaires that one has filled out will not be included in the result). This would have the additional benefit of letting users fil

[2015-11-10 07:17] hieutran commented on #8
@BonsaiOfHappiness @addaleax  Can I apply registration input style to all input in general option page? The "group chooser" input has been applied this style as checklist above, thus, their style is slightly difference with others in general option page.

[2015-11-10 07:18] addaleax commented on #8
I don’t see any problem with that and I guess it’s a good idea to have a consistent style, but then again, I’m terrible at design stuff ;)

[2015-11-10 07:26] hieutran commented on #19
Will the questionnaire modal be opened when a user, who did not complete "first" questionnaire, logged in?

[2015-11-10 07:29] addaleax commented on #19
I guess so – that would have the additional advantage that there is no need to treat the questionnaires 1 and 2 specially, e.g. the client just checks *whether* there are unanswered questionnaires and then displays one of them

[2015-11-10 07:30] addaleax commented on #19
I can upload the second questionnaire to the dev database later today, if you want that for testing

[2015-11-10 10:09] #10 closed

[2015-11-10 10:09] BonsaiOfHappiness commented on #8
Yes, please :)

[2015-11-10 10:10] BonsaiOfHappiness commented on #8
@nhaesler Any advances regarding school-based registrations?

[2015-11-10 10:21] hieutran commented on #8
@BonsaiOfHappiness I applied this style to all input in general option page. I don't clearly understand your "also".

[2015-11-10 10:24] BonsaiOfHappiness commented on #8
@hieutran Right now the school/uni input field doesn't need to be filled to finish the registration. We'd like it to be like name, email etc. - so you have to choose a group (school/uni) in order to finish the registration.

Not the school class/semester field though.

[2015-11-10 12:31] hieutran commented on #8
@BonsaiOfHappiness I got it!
@addaleax I need support from backend for comment from Ba Khai.

[2015-11-10 13:22] addaleax commented on #8
That depends on what Ba Khai wants here – should users be able to leave a group later or is a new user without a group always considered an invalid state? Right now, the system is build in such a way that users can leave the group by various means, and tbh I think that just makes sense.

So what I’d prefer is that providing a group is only obligatory at the registration, which can and should be ch

[2015-11-10 14:30] hieutran commented on #8
@addaleax I also need your backend support for general option page:
- implement backend API for gender save and load,
- please check my birthday datepicker implementation: it's only show epoch time when I refresh the option page.

[2015-11-10 14:37] addaleax commented on #8
There should be no backend support necessary other than what is already present, I think; Can I merge your commits? If that’s all that left, I will take a look

[2015-11-10 14:42] hieutran commented on #8
Yes. please :)

[2015-11-10 14:49] hieutran commented on #19
Let me know when the database is ready :).

[2015-11-10 15:01] addaleax commented on #19
Done; `list-questionnaires` should now also return questionnaire #2.

[2015-11-10 15:22] addaleax commented on #8
Both should work now, although the picked gender is not displayed in the options page (?)

[2015-11-10 15:23] addaleax commented on #8
Oh and btw, why do you insert spaces at the end of HTML attribute values? I find it somewhat confusing to read `ng-value="{{$index}} "`, because I’d not be sure whether the space at the end is actually included in the value or not…

[2015-11-10 15:39] hieutran commented on #8
I didn't do that. Which file has this problem?

[2015-11-10 15:46] hieutran commented on #8
Ahh, I found it. It represent in registration step 2, few days ago, I got the code formatting config error on my IDE.

[2015-11-10 16:32] addaleax commented on #8
Ah ok – just so I know it’s not intentional or anything :)

[2015-11-11 07:48] hieutran commented on #8
@BonsaiOfHappiness Can you explain the "Make school/uni input obligatory" task follow the @addaleax 's comment above?

[2015-11-11 10:21] BonsaiOfHappiness commented on #8
@hieutran Yes, sorry - overlooked the notifications.

We'd like the users to have to choose a group during the registration (either an existing group, creating a new group or choosing "no group" like addaleax said).

User should be allowed to leave the group once they are in the game (we don't need to remind them or anything though). I hope this clarifies things?

[2015-11-17 04:50] addaleax commented on #19
@BonsaiOfHappiness Could you specify the deadline for this one again? iirc, it was around end of November

[2015-11-17 04:50] #16 closed

[2015-11-18 12:45] BonsaiOfHappiness commented on #19
@addaleax @hieutran Yes, we want to display the second questionnaire starting November 29th. If we get it done sooner we could use the code to display the first questionnaire to those that didn't submit it the first time they saw it.

[2015-11-25 15:28] BonsaiOfHappiness commented on #19
@hieutran What's the status? :)

[2015-11-29 00:37] #19 closed

[2015-11-29 00:38] addaleax commented on #19
@BonsaiOfHappiness You can see the implementation on dev and, from Monday on, on stable. I have done some rough testing, but you may want to look at this in detail? Everything seems to work, though.

[2016-01-03 18:41] addaleax opened #20 "Comment delete functionality for admins is currently missing"
Title says it all, should be easy to fix.

Reported by @mfun.

[2016-01-03 18:52] addaleax opened #21 "Overview over all comments for admins"
cc @mfun

[2016-01-03 22:32] #20 closed

[2016-01-04 22:44] mfun commented on #21
Would also be nice to have a less flashy "commented deleted" note, because

Inspiration gives us https://github.com/nodejs/node/pull/4362, but it could be even more hidden..
Example for the recent situation: https://tradity.de/s/sally-bein-gymnasium/+pinboard

[2016-01-04 22:54] mfun commented on #21
Would also be nice to have a less flashy "commented deleted" note, because

Inspiration gives us github pull requests, but it could be even more hidden..
Example for the recent situation: https://tradity.de/s/sally-bein-gymnasium/+pinboard

[2016-01-06 21:05] addaleax opened #22 "Remove TradeDetails view"
Might be helpful to do this before working on the other comment stuff, since we then need one less template to take care of.

[2016-01-06 21:13] #22 closed

[2016-01-08 06:39] #21 closed

[2016-01-10 13:10] mfun opened #23 "random facts box"
To help educating our users and giving them more insights, we would like to implement a little box - e.g. on the right side below or above the sponsor logos.
Currently one person is working on the facts (starting with about 100), which shall be displayed randomly - one at a time.

[2016-01-10 13:15] mfun commented on #23
What could be the size of the facts? In the examples we were at 100-300 characters. Could someone please give feedback on the preferred range of length? Thanks :)

[2016-01-10 17:10] nhaesler commented on #23
That's mostly a question of design. Depending on when this feature and our new design are supposed to land, you should probably ask our new designer, who is not yet on GH afaik.

[2016-01-24 08:44] BonsaiOfHappiness commented on #23
As soon as our new (web/ux) designer is onboarded we'll get back to this feature.

[2016-01-24 08:45] BonsaiOfHappiness opened #26 "Deactivate Achievements and Achievements Page"
... for now until we come up with more suitable achievements

[2016-01-24 08:45] BonsaiOfHappiness opened #27 "Deactivate Trade Comments (& Page)"

[2016-01-24 08:46] BonsaiOfHappiness opened #28 "Implement Wikifolio comments"
TODO:

 - [x] Links to Wikifolio (need to get URLs from them)
 - [x] Styling

[2016-01-24 08:48] BonsaiOfHappiness opened #29 ""Inline Profile Editing""
Put together the various "profile similar" pages and the settings page. This is not urgent though, should probably do it when we redesign the whole UI.

[2016-01-24 08:49] BonsaiOfHappiness opened #30 "Implement a new "group entering system""
Right now entering a group (especially during the registration) isn't really easy. We'll need to redesign that function.

[2016-01-24 13:06] addaleax commented on #27
Resolved by 9a6fd345b64

[2016-01-24 13:06] #27 closed

[2016-01-28 12:46] BonsaiOfHappiness opened #31 "No securities found in search"
If the security hasn't been "opened" before there's no result in the search:
![screen shot 2016-01-28 at 1 44 57 pm](https://cloud.githubusercontent.com/assets/10120609/12644734/60caf512-c5c5-11e5-85ee-f5f848f3254f.png)

If the security has been opened, it's found but the name is not displayed:
![screen shot 2016-01-28 at 1 46 39 pm](https://cloud.githubusercontent.com/assets/10120609/12644760/957

[2016-01-28 12:59] BonsaiOfHappiness opened #32 "Use Börse Frankfurt push API for stock quotes"
Are the quotes (ask bid) supposed to be real time? If yes, I don't think they are. It seems more like we update every 5 mins or so. The quotes seen in the boerse-frankfurt.de tab are real time.

![screen shot 2016-01-28 at 1 58 17 pm](https://cloud.githubusercontent.com/assets/10120609/12645016/40ac53b4-c5c7-11e5-9652-ad810ea17211.png)

[2016-01-28 13:06] BonsaiOfHappiness opened #33 "Maximum tradable amount not working"
Maximum amount tradable (should be 50% of total assets) is not displayed and (as it seems) also not considered as a condition for trade execution.

![screen shot 2016-01-28 at 2 04 08 pm](https://cloud.githubusercontent.com/assets/10120609/12645137/44dcc6f2-c5c8-11e5-9e43-fbd3e5687d42.png)

![screen shot 2016-01-28 at 2 04 18 pm](https://cloud.githubusercontent.com/assets/10120609/12645138/44dee8e

[2016-01-28 13:13] BonsaiOfHappiness opened #34 "Buying a leader share not possible"
From ranking to profile through "invest button" - however, leader share not selected:

![screen shot 2016-01-28 at 2 11 46 pm](https://cloud.githubusercontent.com/assets/10120609/12645273/3dd22f86-c5c9-11e5-84a1-20809fb61b6b.png)

[2016-01-28 13:35] addaleax commented on #31
“opened” = ?

[2016-01-28 13:35] addaleax commented on #32
Yes, we update every 5 minutes, due to the rather large underlying API change.

[2016-01-28 13:36] BonsaiOfHappiness opened #35 "(Sell) Limit Order not triggered/executed"
Even though the ask price was higher than the designated limit price the sell order was not triggered (though it shoul've been).

![screen shot 2016-01-28 at 2 33 54 pm](https://cloud.githubusercontent.com/assets/10120609/12645765/71aaeaf2-c5cc-11e5-93e5-6c85e9e48f44.png)

[2016-01-28 13:36] BonsaiOfHappiness commented on #32
Okay, I see :)

[2016-01-28 13:37] BonsaiOfHappiness commented on #31
I held Amazon shares and clicked on the "trade button" there to get to the trade screen, which displayed the security correclty.

[2016-01-28 13:39] BonsaiOfHappiness commented on #35
Probably this is connected to us updating quotes every 5 minutes? :)

[2016-01-28 13:48] BonsaiOfHappiness opened #36 "tradity.de/GROUP link not correctly directing"
E. g. if I enter tradity.de/niebuell (while not logged in) --> it takes me to this link (which worked before we updated the registration):

![screen shot 2016-01-28 at 2 44 33 pm](https://cloud.githubusercontent.com/assets/10120609/12646016/01f09a02-c5ce-11e5-9994-1a4fffd5e1cf.png)

However, now we should adapt it. I guess it's not easy to make it work for the multi-step registration. So as a temp

[2016-01-28 13:50] addaleax commented on #36
IIRC, on the team meeting in December we agreed to drop tradity.de/[group name] links?

[2016-01-28 13:50] BonsaiOfHappiness opened #37 ""Let me see more about Tradity" - link not working correctly"
On the registration page: https://tradity.de/register/step1 - when I click on the link "Let me see more about Tradity" I get the correct link but I'm not forwarded to the wordpress page but instead to this weird one here:

![screen shot 2016-01-28 at 2 49 04 pm](https://cloud.githubusercontent.com/assets/10120609/12646127/7d16ab4a-c5ce-11e5-968b-fb43dc33da48.png)

[2016-01-28 13:53] #37 closed

[2016-01-28 13:54] addaleax commented on #33
You are aware that tradable amount = number of shares, not transaction volume?

[2016-01-28 14:04] BonsaiOfHappiness commented on #33
ah sorry, I mean our "internal Tradity tradable amount/number of shares cap of 50% max of total assets" - not the other condition of "Frankfurt Stock Exchange tradable amount"

[2016-01-28 14:14] #34 closed

[2016-01-28 14:15] BonsaiOfHappiness commented on #36
Yes, that was the initial idea for when we can replace it with a "better system". However, until then we'd like to have a "temporary solution". We don't need to auto-assign people with that solution, just make the "tradity.de/[group name] links" direct to either the registration, login or wordpress page :)

Is that possible?

[2016-01-28 14:17] addaleax commented on #36
Yes, we could do that, but the general idea was to drop that namespace entirely – i.e. we can and should remove special handling for /[group name] links at all, which should lead users to the registration or login pages. (Please tell me you did not already print these links on some paper…? :D)

[2016-01-28 14:20] BonsaiOfHappiness commented on #36
(we did, sorry) :D

I thought that only the auto-assign was broken. But yes, I'm totally with you - for the future we need to come up with a good solution.

[2016-01-28 14:30] addaleax commented on #36
Meh – Still, I’d like to do everything as discussed previously -> So, no, I’m afraid that your proposed temporary solution will be permanent.

[2016-01-28 14:41] addaleax commented on #35
Are you sure that these orders should have been executed by now?

[2016-01-28 15:06] #31 closed

[2016-01-28 15:08] BonsaiOfHappiness commented on #35
By now it's executed. I'll try to check and (if it's an issue) capture the instance.

[2016-01-28 15:09] addaleax commented on #33
Closing as this only applies for accounts with administrative privileges :)

[2016-01-28 15:09] #33 closed

[2016-01-28 15:09] BonsaiOfHappiness commented on #36
What does that mean? :) (regarding permanent)

[2016-01-28 15:10] BonsaiOfHappiness commented on #33
Ohhhh - haha

[2016-01-28 15:11] addaleax commented on #36
That means that:

1. You should stop printing out URLs we agreed do not exist :smile:
2. You should give us a list of URLs where it’s too late, and we install redirects to the registration page for them (and let all other previous group-registration URLs return 404s).

[2016-01-28 15:14] BonsaiOfHappiness commented on #36
Sorry for the confusion, then. I didn't mean to decide that we abandon the "group url thing" - just, that it's a big issue we need to come up with a solution to (ideally, where we can omit the "extra links").

Does that mean though, that you already put in the effort to remove that function? :D

[2016-01-28 15:17] addaleax commented on #36
No (well, except for the new registration effectively breaking these URLs), but as we said multiple times before, those URLs are a terrible idea all by themselves. Yes, we need a good way to provide a group on registration, but cluttering the tradity.de/[word] namespace with non-application stuff is not a good solution, not has it ever been one.

[2016-01-28 15:22] BonsaiOfHappiness commented on #36
Yes, absolutely agree with you!

What's the best solution for the current situation though? Can't we "redirect" all those /register/s/ type links to https://tradity.de/register/step1?

If not, the current situation shouldn't be too bad - in that case I'd jus add a register link. We've got more urgent issues.

[2016-01-28 15:24] addaleax commented on #36
We’ll have to see whether links which pre-fill the group information on the registration page are actually something sustainable in the long run.

[2016-01-28 15:25] BonsaiOfHappiness commented on #36
Yup - definitely. However, I guess we shouldn't work on that before the competition starts :D (since we don't have time)

[2016-01-28 15:40] BonsaiOfHappiness commented on #36
@mfun so u can follow the discussion :)

[2016-01-31 08:17] addaleax commented on #21
@mfun @BonsaiOfHappiness Did you take a look at the event overview page? I pushed all recently developed features to stable today, i.e. you can take a look at it at https://tradity.de/admin/events. I know it looks bit weird right now, but I haven’t gotten feedback from any of you so far.

[2016-01-31 12:19] mfun commented on #21
Thanks. This definitely is a nice overview.
Regarding our responsibility for the content on tradity, it would be helpful to filter on which days there were comments posted.
And maybe, when I've chosen a date and there a plenty of comments (like 18.02.15) there could be a simplified view to scroll faster through the comments (meaning the actual comment).
Thanks for this overview!

[2016-01-31 19:57] addaleax commented on #21
Not quite sure what you mean; If you are referring to a prettier version of `eventtime` (which is currently displayed in a format like 1454265500), that’s no problem.

And yes, probably a special view for comments only makes sense; Are there any other types of events (as listed on the page) that you may want a special overview for?

[2016-01-31 19:58] addaleax commented on #21
+ Would you want/consider some kind of flagging system for comments, users, etc.?

[2016-01-31 22:10] mfun commented on #21
A filter which shows me only the days where they actually were comments would be nice to have an overview for on which days we should take a closer look.
Something like a flagging system sounds reasonable.

[2016-01-31 22:13] addaleax commented on #21
Ah, I get it – Should be feasible, I think.

[2016-02-01 19:08] BonsaiOfHappiness opened #38 "tradity.de/register not displaying the form for Chrome Version"
48.0.2564.97

[2016-02-01 19:08] BonsaiOfHappiness commented on #38
@addaleax

[2016-02-01 20:17] #38 closed

[2016-02-02 02:17] addaleax commented on #21
Will publish an update with comment stuff in the next days; You can preview it on dev. :)

[2016-02-05 17:52] BonsaiOfHappiness opened #39 "bugs and changes to sign up form"
*(edited: turned this into todo list – anna)*
- [ ] All fields should be mandatory.
- [x] However, would like to add "prefer not to say" for gender,
- [x] have "no group" as an option for group at the top in the dropdown and
- [ ] a checkbox next to/beneath (we can fix design later) for "class/semester" that says "I'm not a student"... basically returning "no class/semester".

[2016-02-05 17:53] BonsaiOfHappiness commented on #39
@addaleax

[2016-02-07 23:11] nhaesler commented on #39
Thanks to uni and moving, I don't have a lot of time to look into this at the moment. So it'd be great, if someone else could take this off my plate.

[2016-02-08 13:03] addaleax commented on #39
@BonsaiOfHappiness I’m somewhat afraid the “I’m not a student” checkbox can be *very* confusing with respect to choosing a group (i.e. if you check it, I’m not sure a lot of people will get that this *only* refers to the class/semester field).

[2016-02-09 18:39] BonsaiOfHappiness commented on #39
Mh true, but it's technically feasible? Would propose a different "label" then: "This field does not apply for me" (or something similar)
What do you think? :)

[2016-02-10 16:58] addaleax commented on #39
I think it might be the best solution to leave the field alone…

1. I think someone who filled out the “group” field probably will not skip this one (esp. since it is not very hard to fill out?)
2. Things like “no student”/“doesn’t apply” may make the registration form less overseeable, both to the user and to us programmers, since non-trivial code is necessary to keep both form fields coherent (L

[2016-02-10 18:31] addaleax commented on #39
Btw, I published the changes I made so far to stable

[2016-02-11 15:36] BonsaiOfHappiness opened #40 "Maximum tradable amount/value "NaN""
![screen shot 2016-02-11 at 4 34 56 pm](https://cloud.githubusercontent.com/assets/10120609/12980644/a649908a-d0dd-11e5-8605-c2010b416e18.png)

[2016-02-11 15:40] BonsaiOfHappiness commented on #39
1. Yes, but if they choose "no group" they would skip the next field, right?
2. I see - let's not do it then.

Let's simply make everything mandatory except and I'll adapt the message for that "class field" saying something like: you can input 0 for "no class"

[2016-02-11 15:57] addaleax commented on #39
I get why you want to do this, but I still think that’s horrible UX. If you are 100 % sure that this is the right way, it’s feasible, of course

[2016-02-11 18:47] #40 closed

[2016-02-12 17:49] mfun commented on #39
UX may be something we have to discuss - on the other hand we heard from proud TKs and LKs how many students they have in their school groups. From this point of view we reached this goal.

[2016-02-12 19:44] addaleax commented on #39
@mfun Not sure what you’re pointing at – should we leave the “class/semester” field as it is right now, or are you in favour of any of @BonsaiOfHappiness’ proposed changes? :D

[2016-02-12 22:23] addaleax commented on #11
Each of these were actually different bugs, all of which should be fixed now as of bece88ae13d5f (modulo rubenv/angular-gettext#266, but that’s no longer something from our side).

[2016-02-12 22:23] #11 closed

[2016-02-14 21:02] mfun commented on #39
I am super happy that we can get an overview whether the user are in the right groups.
To be honest I have no concrete opinion regarding the other changes.

[2016-02-14 21:04] addaleax commented on #39
@BonsaiOfHappiness Maybe a good way would be to just ask users who selected a group but did not enter a class whether that’s correct?

[2016-02-14 21:09] BonsaiOfHappiness commented on #39
@mfun "communications gap" here? :D I thouhgt it's essential to push users to input a class. If that's not necessary please let us simply not make that field mandatory :D

Otherwise, I believe that your suggestion sounds pretty good.

[2016-02-14 21:30] mfun commented on #39
@BonsaiOfHappiness sorry, I was with my thoughts at the school field.
@addaleax Can you please tell me when in the admin tool the class segment is displayed.
I will then comment here again after that :)

[2016-02-14 21:33] addaleax commented on #39
Ok, I’ll close this then.

@mfun: Precisely now. :P

[2016-02-14 21:33] #39 closed

[2016-02-14 21:42] mfun commented on #39
From the organizational point of view it is no big deal if <10% are not entering their class.
For me it looks like it is currently around 1-3%.

[2016-02-14 22:21] addaleax commented on #28
@TheAlexGross Btw, if you’re happy with the way the comments look, you can close this issue :)

[2016-02-16 18:47] BonsaiOfHappiness opened #47 "Total assets not displayed correctly"
![screen shot 2016-02-16 at 3 35 00 pm](https://cloud.githubusercontent.com/assets/10120609/13086914/b922cfe4-d4e5-11e5-8311-f1caacf1b5de.png)

Total Assets (Gesamt) should be around 99960€ (if one sums up the account and depot value) but somehow it's 89960€.

I've checked the transaction history and everything should be fine. Any ideas what's happening there?

The user's name is "bonerusher". We'

[2016-02-16 18:49] addaleax commented on #47
@BonsaiOfHappiness Is this a permanent error? It can take a bit of time to update the total values of users.

[2016-02-16 19:02] BonsaiOfHappiness commented on #47
Ok, you're right. It's not permanent. Thanks :dancer:

[2016-02-16 19:02] #47 closed

[2016-02-17 12:35] BonsaiOfHappiness opened #55 ""Commerzbank" stock not found"
Somehow this stock can't be found - not even via it's ISIN DE0007500001

Really weird :D

[2016-02-17 20:59] #55 closed

[2016-02-17 23:02] #28 closed

[2016-02-25 19:03] BonsaiOfHappiness opened #59 "Login loading message not displayed"
#58

[2016-03-06 18:18] BonsaiOfHappiness opened #62 "Issues after REST API setup"
*Important and urgent*
- [x] Executing trades not possible (prompts appear but trades are not executed/do not show up in unfilled orders/transaction history)
- [x] Held shares not visible
- [x] Feed not visible

*Not so urgent*
- [x] Joining groups not possible (after clicking on the button it turns "blue/confirmed" but one doesn't enter the group even after switching to other tabs or reloading th

[2016-03-06 18:48] addaleax commented on #62
@BonsaiOfHappiness Which account? I don’t really want to trade on Sunday just for testing :)

[2016-03-06 18:56] BonsaiOfHappiness commented on #62
@addaleax Tradity_Admin

[2016-03-06 18:59] addaleax commented on #62
@BonsaiOfHappiness Could you check again?

[2016-03-06 19:00] BonsaiOfHappiness commented on #62
@addaleax Yay, it works :D

[2016-03-06 19:18] BonsaiOfHappiness commented on #62
@addaleax Executing trades still doesn't work, does it? (the prompts are fine now but the shares still don't show up in my "held shares"/the trade doesn't show up in transaction history)

[2016-03-06 19:27] addaleax commented on #62
@BonsaiOfHappiness That was only a display problem – should be fixed now :)

[2016-03-06 19:29] addaleax commented on #62
(i.e. the trades were actually entered into the database, just not displayed in your /depot tab)

[2016-03-06 19:29] BonsaiOfHappiness commented on #62
Ohhh - then sorry for all the entries haha

[2016-03-06 19:30] BonsaiOfHappiness commented on #62
Everything seems to be working really smoothly right now - props to you and the REST API thingy :D

[2016-03-06 20:21] addaleax commented on #62
Closing this then :) You or anyone else can just create new issues if something should pop up (which it probably will)

[2016-03-15 14:19] #62 closed

[2016-03-15 14:20] addaleax commented on #32
Is currently being tested on the dev server, the necessary code is there -> We should be able to publish this very soon

[2016-03-15 14:20] #32 closed

[2016-03-15 14:20] #35 closed

[2016-03-22 17:44] BonsaiOfHappiness commented on #62
@addaleax Could you check the "group entering" again please? It doesn't seem to work for me. After entering and refreshing I'm not in. I can't really see any errors apart from 304s (mainly loading images).

[2016-03-22 22:20] addaleax commented on #62
@BonsaiOfHappiness Yep. Also, don’t be scared to create new issues even if you can tell that some things are more or less related. :)

[2016-03-29 11:46] BonsaiOfHappiness opened #63 "Registration not working - 500 Internal Server Error"
In the second step of the registration on bhf.tradity.de (uni) I get an error and "nothing happens" after clicking on the signup button.

![screen shot 2016-03-29 at 1 43 34 pm](https://cloud.githubusercontent.com/assets/10120609/14106885/a230f924-f5b4-11e5-99c8-13d5de8ddca1.png)

`bhf.tradity.de/api/v1/register:1 POST https://bhf.tradity.de/api/v1/register 500 (Internal Server Error)`

[2016-03-29 12:22] addaleax commented on #63
@BonsaiOfHappiness Is fixed as of tradity/tradity-server@7dfa5a09a1a1. `5xx` errors (or other errors where you can see that something is going wrong server-side) might be better off reported at the server repository. Also, a screenshot of the actual error message would maybe have been helpful (network tab of the developer tools, where you can display the contents of the individual failing requests

[2016-03-29 12:22] #63 closed

[2016-03-29 12:28] BonsaiOfHappiness commented on #63
@addaleax Thank you for fixing the bug. I'll keep that in mind - next time I'll report the error "correctly" :)

Would this have been the error message?

`{code: 500, error: "TypeError: t.replace is not a function",…}
code: 500
error: "TypeError: t.replace is not a function"
stack: ""TypeError: t.replace is not a function\n    at /home/sotrade/stable/server/template-loader.js:93:15\n    at Array.f

[2016-03-29 12:30] addaleax commented on #63
Yes. :D It did get reported via e-mail too, though.

And btw, you can post multi-line code snippets here by using triple backslashes like this:
[code]
:smile:

[2016-05-20 10:35] nhaesler opened #66 "CSS3 based scalable loading spinner"

[2016-06-26 09:01] BonsaiOfHappiness opened #67 "RD: leader board"
**How the first version should look like:**

The leader board shows a fixed number of the top users. It's updated in as short as possible (and reasonable) intervals. It's possible to modify the view through filtering and ranking:
- filter by group and sub-group (region and school/uni)
- filter by rank (i. e. only display top 100 users)
- rank by start-to-date performance (start of competition)
- r

[2016-06-28 06:35] BonsaiOfHappiness opened #68 "RD: Positions"
**How the first version should look like:**

A table that shows all shares currently held.

It's possible to evoke events by clicking on a line item (TBD).

The position items consist of:
- Stock name
- Entry price
- Current market price
- Number of shares held
- Current market value of shares held (number of shares \* market price)
- Total performance

**What may come in later stages:**
- Ranking

[2016-06-28 06:36] BonsaiOfHappiness opened #69 "RD: Open orders"
**How the first version should look like:**

A table that shows the orders yet to be executed (open orders). These
are (market) orders placed outside of trading hours.

It's possible to delete an open order by clicking a specific "icon".

The open order items consist of:
- TBD
- TBD
- TBD

**What may come in later stages:**
- As we (re-)introduce stop and limit orders these will be listed in
the o

[2016-06-28 06:36] BonsaiOfHappiness opened #70 "RD: Transaction history"
**How the first version should look like:**

A table that shows all orders that have been executed.
The transaction history items consist of:
- Name of stock traded
- Date of order execution
- Execution price
- Transaction costs
- difference in balance

**What may come in later stages:**
- grouping orders to display P&L

[2016-06-28 06:37] BonsaiOfHappiness opened #71 "RD: Stock search"
**How the first version should look like:**

A search bar that suggests stocks based on a text or ID (ISIN/WKN) input as the user types (comparable to the Google search). The suggestion items consist of:
- stock name
- current price
- WKN/ISIN

- [x] done

Hovering over a line item should evoke the display of more detailed information somewhere. Alternatively more information is only displayed whe

[2016-07-02 19:23] BonsaiOfHappiness opened #72 "RD: Trade functionality"
**How the first version should look like:**

The user should be able to modify:
- The number of shares inteded to be traded (with an indication of maximum tradable number of shares)
- The amount of money intended to be traded (with an indication of maximum tradable amount of money)
- Choose between buy and sell

Further functionality should include:
- real time translation of shares to amount of m

[2016-07-02 19:49] BonsaiOfHappiness opened #73 "RD: Login"
**How the first version should look like:**

- [x] Login via username/email and password.
- [x] Error handling with relevant messages.

**What may come in later stages:**
- multi-step login for better mobile UX

[2016-07-02 20:05] BonsaiOfHappiness opened #74 "RD: Sign up"
**How the first version should look like:**

A multi-step sign up process where the user can navigate back and forth with the following required fields:
- user name
- email
- password
- first name
- last name
- gender (dropdown)
- group (dropdown system: region and school/uni)
- checking terms and newsletter signup

The sign up progress should be displayable (i. e. Step 1 out of 2)

**What may com

[2016-07-02 20:13] BonsaiOfHappiness opened #75 "RD: Settings"
**How the first version should look like:**

The user should be able to modify the following information:

- Gender
- Group
- Email
- Profile picture
- Short profile description (limited number of characters)
- Language
- Subscription to different newsletters (Tradity and partners)

**What may come in later stages:**
- switching between beginner and advanced mode

[2016-07-02 20:27] BonsaiOfHappiness opened #76 "RD: Stock indices/lists"
**How the first version should look like:**

Adding to the stock search the stock indices/lists provide an overview over tradable stocks to alleviate finding stocks. The lists shall be predefined, including:

- DAX
- Most traded @Tradity 30
- Nasdaq100

The items shall display the same information as the stock search items including the hover/click behavior.

**What may come in later stages:**
- M

[2016-07-02 20:31] BonsaiOfHappiness opened #77 "RD: Newsfeed"
**How the first version should look like:**

A feed that displays the following actions:
- executed trades (self)
- newsfeed entries by Tradity

**What may come in later stages:**
- Showing trades of "friends" incl. their profile (similar to github)
- Showing comments of "friends"/groups
- including news from newsfeeds

[2016-07-02 20:37] BonsaiOfHappiness opened #78 "RD: Group stats"
**How the first version should look like:**

Group stats displayed:
- Group rank
- Number of members
- Average total performance
- Average week-to-date performance
- Most traded stock in group

**What may come in later stages:**
- ... more stats

[2016-07-02 20:45] BonsaiOfHappiness opened #79 "RD: Random facts"
**How the first version should look like:**

"Random" facts are displayed in a predefined layout (TBD) and change however it's most convenient to code.

Originally #23

**What may come in later stages:**

[2016-07-02 20:53] BonsaiOfHappiness opened #80 "RD: Lectures"
TBD

[2016-08-25 17:40] BonsaiOfHappiness opened #81 "TBD: Activation of groups after specific number of users is reached"

[2016-11-05 12:32] nhaesler opened #84 "Admin interface"

[2016-11-05 13:12] nhaesler opened #85 "fix module.id stuff"

[2016-11-05 13:13] nhaesler opened #86 "split app into modules"

[2016-11-06 01:09] nhaesler opened #87 "component relative urls"

[2016-11-26 14:20] nhaesler opened #88 "refactor build scripts"

[2016-11-26 14:21] nhaesler opened #89 "set up new translation process"

[2016-11-26 14:24] nhaesler opened #90 "RD: forgot password functionality"
@BonsaiOfHappiness

[2016-11-26 15:10] BonsaiOfHappiness commented on #90
@nhaesler Gesehen, mache mir Gedanken und melde mich :)

[2017-01-07 18:36] nhaesler opened #94 "ARIA"

[2017-01-07 18:37] nhaesler opened #95 "tabindex"
maybe also hotkeys

[2017-01-16 17:50] #85 closed

[2017-01-16 17:50] #86 closed

[2017-01-16 17:50] #87 closed

[2017-01-16 17:50] #88 closed

[2017-01-17 16:10] nhaesler opened #96 "update piwik script"
Also exclude it from the dev build and add it to our homepage.
Consider tracking clicks on specific features so its actually useful to include it in the app. Otherwise it should be thrown out.

[2017-01-17 16:18] nhaesler opened #97 "Set up sentry to track errors"
Should ideally completely remove our dependency on users to report bugs.

[2017-01-19 12:27] nhaesler commented on #59
old client version

[2017-01-19 12:27] #59 closed

[2017-01-19 12:29] nhaesler commented on #36
old client version

[2017-01-19 12:29] #36 closed

[2017-01-19 12:30] nhaesler commented on #26
old client version

[2017-01-19 12:30] #26 closed

[2017-01-19 12:31] nhaesler commented on #23
old client version. #79 for the new version

[2017-01-19 12:31] #23 closed

[2017-01-19 12:32] nhaesler commented on #18
old client version

[2017-01-19 12:32] #18 closed

[2017-01-19 12:32] nhaesler commented on #8
old client version

[2017-01-19 12:32] #8 closed

[2017-01-19 13:32] nhaesler opened #98 "Chrome's autofill does not trigger angular model change"
If the browser autofills username and password into the login, the submit button does not activate until you click somewhere on the page. This does not prevent the user from submitting by clicking on the button, but is still confusing to the user. We can either work around this in an ugly way or wait for an angular fix:
https://github.com/angular/angular/issues/12130
https://github.com/angular/ang

[2017-01-19 13:47] nhaesler commented on #73
@BonsaiOfHappiness I need some information on how the error handling is supposed to work, especially from a design point of view. Keep in mind that the server doesn't mark either the username or password as wrong. We just get back a “Login failed” (this is intended behavior)

[2017-01-19 14:05] #68 closed

[2017-01-19 14:08] nhaesler commented on #69
The only thing missing here is the ability to cancel orders.

[2017-01-19 14:11] nhaesler commented on #29
@BonsaiOfHappiness We decided to forego this for the foreseeable future and just implement a new settings page for now, right?

[2017-01-19 14:14] nhaesler opened #99 "complete the navigation view"
What's missing:
- [ ] links at the bottom
- [ ] profile picture
- [ ] fix items at the top jumping around
- [ ] margins
- [ ] sponsors

[2017-01-19 14:17] nhaesler commented on #76
We should probably implement this in the server so we can query for all indices and their entries in one api call instead of asking the server for hundreds of individual stocks every time a user opens the stock view.

[2017-01-19 14:24] nhaesler opened #100 "implement subheader titles"

[2017-01-19 15:02] nhaesler commented on #70
Still missing: Datetime of order execution

[2017-01-19 15:06] nhaesler opened #101 "RD: Group View"
- [ ] Group Overview
- [ ] Group Ranking
- [ ] Most traded papers

[2017-01-19 15:15] nhaesler commented on #101
Some open questions @BonsaiOfHappiness:

- How should this be integrated into the navigation?
- How are we handling Subgroups?
- Should one be able to leave and join groups? Or is that restricted to the signup? (Even then: What about the class in the school version?) We could probably just do that in the settings view, right?

[2017-01-19 15:23] nhaesler opened #102 "dev tsconfig not found by vscode"

[2017-01-19 15:24] nhaesler opened #103 "configure some more strict tsconfig settings"

[2017-01-19 15:24] nhaesler opened #104 "set up tslint"

[2017-01-19 15:25] nhaesler opened #105 "set up prod build test for travis"

[2017-01-21 12:20] BonsaiOfHappiness commented on #77
Comments after review:

- [ ] Chart missing (@ag)
- [ ] Remove padding/margin at dashboard data

[2017-01-21 12:23] BonsaiOfHappiness opened #106 "RD: Portfolio"

[2017-01-21 12:26] BonsaiOfHappiness commented on #106
Comments after review:

- [ ] "Show more arrow" should turn with toggle
- [ ] Favorite function
- [ ] Exchange "stock info" symbol
- [ ] Fill placeholders

- [ ] History: Increase initial loading time
- [ ] "Sold at"... TODO

[2017-01-21 12:30] BonsaiOfHappiness commented on #76
That sounds reasonable. Let's do that once we got a little time on hand.

[2017-01-21 12:35] BonsaiOfHappiness commented on #76
Comments after review:

- [ ] "Remove yellow border" for active state; make border orange instead
- [ ] Fix "NaN" for most traded stocks
- [ ] Show "placeholder" text if no favorites exist

[2017-01-21 12:39] BonsaiOfHappiness commented on #72
Comments after review:

- [ ] Link number of shares to be traded with Euros to be invested
- [ ] Consider renaming "stocks"... not perfectly understood

[2017-01-21 12:43] BonsaiOfHappiness opened #107 "Navigation menu"

[2017-01-21 12:45] BonsaiOfHappiness commented on #107
Comments after review:

- [ ] If "active" menu point still close menu

[2017-01-21 12:47] nhaesler commented on #107
Can you explain that comment?

Tried to reach you on Slack btw

[2017-01-21 15:18] nhaesler opened #108 "cancel in-flight stock search requests"
race conditions possible atm

[2017-01-21 15:37] BonsaiOfHappiness commented on #73
@nhaesler Alright, will get back to you regarding this tomorrow. What "error types" do we get? Only login failed (as in email/password combination is wrong) or do we also get something like "user not existing"?

[2017-01-21 15:41] nhaesler commented on #73
@BonsaiOfHappiness As I wrote above, we just get a “Login failed”. This is standard security behavior to make guessing of usernames and passwords harder.

[2017-01-21 15:52] BonsaiOfHappiness commented on #73
I see. Thx :)

[2017-01-21 17:59] BonsaiOfHappiness opened #109 "Load history of user without everything else (such as value history)"

[2017-01-23 15:09] nhaesler commented on #107
@BonsaiOfHappiness

[2017-01-23 20:05] BonsaiOfHappiness commented on #107
Mh, I'll tell you next time we speak :D

[2017-02-01 17:45] raubja opened #110 "Bug Testing Team"
- [x] Overlapping of "Log in" and the "Forgot Password?, Registration" button in chrome

- [ ] Bug on Safari 9.0.2

- [ ] Find intuitive German translations

- [ ] Heart-button does not work

- [ ] Current amount of money not visible when trading

- [x] No message when out of money while trading

- [x] When clicking "minus" default setting is still "buy"

- [ ] negative amounts of stocks tradable

[2017-02-11 19:24] #70 closed

[2017-02-11 19:27] nhaesler commented on #72
@BonsaiOfHappiness What exactly do you want to rename here?

[2017-02-11 19:30] #102 closed

[2017-02-11 19:32] nhaesler commented on #78
Closing in favor of #101

[2017-02-11 19:32] #78 closed

[2017-02-11 19:36] nhaesler commented on #101
- [ ] changing between groups and their possible parents
- [ ] group urls

[2017-02-11 22:22] nhaesler commented on #71
@BonsaiOfHappiness Can you clarify on the comment part? Don't we want that just in the stock details view?

[2017-02-11 22:24] nhaesler commented on #81
@BonsaiOfHappiness Can we close this? Doesn't really seem to fit our new group model.

[2017-02-11 22:28] nhaesler commented on #90
@BonsaiOfHappiness We could, for the time being, just let a dialog box pop up which asks for email/username. Would be really quick to implement.

[2017-02-11 22:29] #100 closed

[2017-02-11 22:32] nhaesler commented on #107
@BonsaiOfHappiness You didn't actually tell me the next we spoke :P
Also probably a duplicate of #101.

[2017-02-11 22:37] nhaesler commented on #109
This is actually more of a server/api issue as they don't offer this at the moment. But this problem is more or less solved by resetting the server and thus all the values. We should probably revisit this after the next competition, but I'll close it here for now.

[2017-02-11 22:37] #109 closed

[2017-02-12 08:14] BonsaiOfHappiness commented on #107
Let's ignore this for a while. It's not a "major bug" - Jakob and I will check for it again after the next update of dev.

[2017-02-12 08:14] BonsaiOfHappiness commented on #90
Let's do that

[2017-02-12 08:15] BonsaiOfHappiness commented on #81
Yes, kill.

[2017-02-12 08:15] #81 closed

[2017-02-12 08:15] BonsaiOfHappiness commented on #71
Yes, you are right. We changed the design of this over time.

[2017-02-12 08:16] BonsaiOfHappiness commented on #72
It's ok for now; we'll go through the entire app for wording after everything is working fine.

[2017-02-12 15:26] #71 closed

[2017-02-12 16:19] BonsaiOfHappiness commented on #107
@raubja Could you please show the steps to get to the navigation menu bug (orange link thingy)

[2017-02-12 16:42] nhaesler commented on #67
Some notes to myself on how to implement the group ranking:
- Build a two-dimensional array with cities on the first level and their respective schools on the second level
- Take the user ranking list and traverse it for every school, adding up their total values into an average total value for every school and city (three-level for-loop)
- flatten out the list of cities and schools, sort and show

[2017-02-12 22:10] #73 closed

[2017-02-13 13:28] #72 closed

[2017-02-13 15:00] BonsaiOfHappiness commented on #75
@nhaesler How the settings page should look like for the upcoming competition. These should be the changeable options:

- Profile picture (upload)
- Email
- Language

Please use the login/register form style to design the settings; the "save/update information" button could replace the login/signup button

[2017-02-14 20:10] nhaesler commented on #107
That turned out to be a non-issue. Closing this in favor of #99.

[2017-02-14 20:10] #107 closed

[2017-02-16 16:30] nhaesler opened #111 "show notification if email not yet activated"

[2017-02-16 16:32] nhaesler commented on #111
Should this just be a feed entry or something more prominent like in the navigation?

[2017-02-16 16:47] BonsaiOfHappiness commented on #111
Whatever is easier to implement... would prefer something prominent in the navigation

[2017-02-17 10:03] BonsaiOfHappiness opened #112 "SignUp: set button opacity to 100%"
![image](https://cloud.githubusercontent.com/assets/10120609/23061068/b45b821c-f500-11e6-839c-6711ebeac582.png)

[2017-02-17 10:07] BonsaiOfHappiness opened #113 "SignUp: improve error messages"
As we (from what I understood) can't feedback more specific errors we should adapt the error message to cover more than just the username.

In this case the username should've been okay - just the email is already in use.

![image](https://cloud.githubusercontent.com/assets/10120609/23061165/06a2ad0c-f501-11e6-9198-8c78752c2852.png)

[2017-02-17 10:07] BonsaiOfHappiness commented on #113
Should probably do all the messaging/alerts in one go at the end

[2017-02-17 10:11] BonsaiOfHappiness opened #114 "EmailConfirmation: Adjust confirmation link (game.tradity.de)"

[2017-02-17 10:13] BonsaiOfHappiness opened #115 "SignUp: design issue step 2"
Probably due to the dropdown.

![image](https://cloud.githubusercontent.com/assets/10120609/23061406/05bd7cd6-f502-11e6-9ecb-f2d16bd52f7a.png)

[2017-02-17 10:15] nhaesler commented on #113
Nope. We do get specific feedback for username and email. That username must've been taken. I chose to give the feedback there, because I don't think the user user should have to go back to the first step. Ideally we would give instant feedback on every field, but if we're using alert boxes I would do it like this.

[2017-02-17 10:18] BonsaiOfHappiness commented on #113
Yes, you're right. The username was indeed taken. However, I seem to be able to signup more than once via an email (if it's not confirmed?). At least I don't get an error message for using the same email address again and even get into the game.

[2017-02-17 10:22] nhaesler commented on #113
That's the server's doing and seems to be by design. Actually, when using the api call for email validation, it can answer with other-already-taken, which means that someone else already activated that email for their account.

[2017-02-17 10:23] BonsaiOfHappiness commented on #113
Alright, that's fine then :)

[2017-02-17 10:23] #113 closed

[2017-02-17 10:37] BonsaiOfHappiness opened #116 "StockSearch: "NaN""
Either fix or replace with some other relevant data

![image](https://cloud.githubusercontent.com/assets/10120609/23062278/6dab9bea-f505-11e6-9552-0e835f44acb8.png)

[2017-02-17 10:40] BonsaiOfHappiness commented on #116
I understand there's some issue with where we get the data for "most traded" from - if there's some kind of workaround to display exactly the same data as in the search that would be best.

[2017-02-17 10:41] nhaesler commented on #116
No, I just have to add the value to the server response. I was just focusing on the client for now.

[2017-02-17 10:43] BonsaiOfHappiness commented on #116
Alright, perfect :)

[2017-02-17 10:44] BonsaiOfHappiness opened #117 "StockSearch: Adjust redirect for "sell""
If there's the possibility to preselect "sell" for the "sell action" we should do that.

[2017-02-17 10:46] BonsaiOfHappiness opened #118 "StockTrade: minor design issue"
1) Make the toggle/buttons full width (again)
2) Make the "x Ask / Bid" font-size smaller so it fits in one line

![Uploading image.png…]()

[2017-02-17 10:47] BonsaiOfHappiness opened #119 "StockTrade: Allow for floats"
Comma values should be okay + we should round (only on display) to two decimals

![image](https://cloud.githubusercontent.com/assets/10120609/23062615/baed3e6c-f506-11e6-8a32-401ea79cea3a.png)

[2017-02-17 10:51] BonsaiOfHappiness opened #120 "StockTrade: Redirect to portfolio/pending after successful order"
Natural flow + avoid "multiple unwanted orders"

[2017-02-17 10:56] BonsaiOfHappiness opened #121 "Positions: performance today not correctly calculated"
We talked about this issue at the Tradity Christmas Hack and already have a solution in mind - only needs to be implemented.

![image](https://cloud.githubusercontent.com/assets/10120609/23062864/f24fe8d6-f507-11e6-8007-d062e61fe9d5.png)

[2017-02-17 10:58] BonsaiOfHappiness opened #122 "Leaderboard: loading issues"
It seems the leaderboard is loading all 10+ thousand users before displaying the leaderboard (which takes a looot of time and freezes the game). Not sure if this will be reduced when we get to the step of limiting the number to 100. If not, we should show a "loading symbol"... guess we should have that everywhere, anyways.

To be discussed

![image](https://cloud.githubusercontent.com/assets/10120

[2017-02-17 11:00] #115 closed

[2017-02-17 11:03] BonsaiOfHappiness opened #123 "LeaderboardGroups: design issue"
maybe set min-height 50px + 3px * 2... + somehow need to fix the weird spacing issue between the placeholders/icons

![image](https://cloud.githubusercontent.com/assets/10120609/23063057/eb70fd9c-f508-11e6-958e-dc1309014071.png)

[2017-02-17 11:09] nhaesler commented on #112
If I set the alpha channel on the bottom nav to 1.0, it becomes black. I think we need a different colour definition for that?

[2017-02-17 11:15] BonsaiOfHappiness commented on #112
Ah, I see. Please use this color code then :)

#e6e6e6

[2017-02-17 11:24] #112 closed

[2017-02-17 11:31] nhaesler commented on #123
That's actually an issue on every of our lists, where the subvalue on the left side isn't provided. On that note – how should we handle long names now? Just cutting it off doesn't seem like such a good solution looking at the Immanuel-Kant-Gymnasium. It would probably just say “Immanuel-”.

[2017-02-17 11:34] nhaesler commented on #123
Well, the ranking lists are probably mssing the buttons for expansion and so on. If we have those on every list, we could say that the names get expanded like they are now, when you click on expand.

[2017-02-17 11:35] BonsaiOfHappiness commented on #123
Ok, can we put blank spaces if there's no subvalue (just as a quick fix - would do this properly later on).

You're right... that's a "fundamental" design flaw... let's limit it to an "appropriate" number of characters and then cut off... ideally so that we can limit the number of lines that result (on mobile)... I'd suggest something between 18 and 24 characters (looking at our examples)

[2017-02-17 11:36] BonsaiOfHappiness commented on #123
Ah, that's a good idea... let's run with the "expand" idea for now

[2017-02-17 11:54] nhaesler commented on #123
No blank spaces needed, the min-height you proposed is the appropriate fix for that.

[2017-02-17 13:53] BonsaiOfHappiness opened #124 "Login: design issue bottom buttons in mobile view (keyboard)"

[2017-02-17 14:20] #119 closed

[2017-02-17 14:20] #120 closed

[2017-02-18 16:11] #122 closed

[2017-02-18 16:11] #123 closed

[2017-02-23 21:52] BonsaiOfHappiness opened #125 "Trade: success message even though trade not executed"
A success message pops up even though trading outside trading hours. However, it seems that the trade was correctly placed as a pending order as I got redirected to the pending orders page.

The trade doesn't show in the pending orders section though. Also, it should've been executed on the following day and show up in positions(which didn't happen for previous trials; I'll check again tomorrow)

[2017-02-23 21:54] BonsaiOfHappiness opened #126 "Trade: ordered even though exceeding tradable amount"
Success message shows even though I ordered more shares than the tradable amount displayed.

![image](https://cloud.githubusercontent.com/assets/10120609/23280801/eb68c688-fa1a-11e6-90dd-855af278d1a7.png)

[2017-02-23 21:56] BonsaiOfHappiness opened #127 "Trade: Selling more than owned possible"
![image](https://cloud.githubusercontent.com/assets/10120609/23280880/3c49d128-fa1b-11e6-885e-7f6d51223e0e.png)

[2017-02-26 18:43] #127 closed

[2017-02-26 18:43] #126 closed

[2017-02-26 18:43] #125 closed

[2017-07-13 17:48] #114 closed

[2017-07-22 21:16] #74 closed

[2017-09-15 17:57] nhaesler opened #131 "Fix deployment process and include doc generation"

[2017-09-15 19:08] #106 closed

[2017-09-16 20:33] #108 closed

[2017-09-17 14:57] nhaesler commented on #116
I fixed this in tradity/tradity-server@d17aa13

[2017-09-17 14:57] #116 closed

[2017-09-25 21:44] #67 closed

[2017-09-28 13:18] #117 closed

[2017-10-05 10:52] #124 closed

[2018-02-04 23:41] #90 closed

[2018-02-04 23:42] #84 closed

[2018-02-04 23:51] #30 closed

[2018-02-05 02:32] #110 closed

[2018-08-13 21:30] #111 closed

[2018-08-15 11:26] Paul-Kathmann2 opened #132 "Stock Page Graph"
https://www.tradingview.com/widget/

[2018-08-19 16:46] firecreek1 opened #133 "Schriftart im Graph auf Dashboard am Desktop falsch"
![dashboard](https://user-images.githubusercontent.com/41254297/44311002-1da2a400-a3e0-11e8-8f15-efa16f8ca07e.PNG)

[2018-08-19 17:04] firecreek1 commented on #132
- search API of FSE for more data such as data points for charts, general information and KPI's of companies